# Gradle
.gradle/
build/
**/build/

# Android
*.iml
.idea/
local.properties
.cxx/
*.hprof
*.keystore

# Xcode
*.xcodeproj/project.xcworkspace
*.xcodeproj/xcuserdata
*.xcworkspace/
DerivedData/

# Node
node_modules/
npm-debug.log
firebase-debug.log

# OS
.DS_Store
Thumbs.db

# Secrets (Real configs should be ignored, but we act as templates for now)
pushed_android/app/google-services.json
pushed_watch/pushed_watch/GoogleService-Info.plist
